*{padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#personal{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-between;
    text-decoration: none;
    color: white;
    gap: 1rem;
}
#img1{
    height: 64px;
    width: 64px;
    border-radius: 50%;
}
#headerlink{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
}
#headerlink a{
    color:white;
    text-decoration: none;
}
#headerlink a:hover{
    background-color: white;
    height:fit-content;
    width:fit-content;
    color: rgb(247, 76, 14);
    font-size: 110%;
    transition: ease-in 0.3s;
}
#button1{
    background-color: brown;
    opacity: 1;
    text-decoration: none;
    color: white;
    border: 1px solid black;
    height: 2rem;
    width: 5rem;
    display: flex;
    flex-direction: row;
    border-radius: 0.40rem;
    align-items: center;
    justify-content: center;
}
#button1:hover{
    opacity: 0.6;
}
#link1{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;

}
.container1{
    background-color: rgb(247, 76, 14);
    padding-left: 5rem;
    padding-right: 5rem;
    margin-left: auto;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-top: 1rem;
    margin-bottom: 1 rem;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0.5rem;
}
header{
    
        border-bottom: 4px solid grey;
}
.box{
    width: 400px;
    height: 350px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(105, 105, 160,0.6), 0 00 5px rgba(135, 135, 158, 0.4);
    margin-top: 20px;
    margin-left: 20px;
}
#img2{
    position: absolute;
    height: 110%;
    bottom: 10px;
   left:30% ;
}
#imgbox{
    position: relative;
}
.colour{
    color: red;
}
.container2{
    display: flex;
    flex-direction: row;
    align-items:flex-start;
    justify-content: space-between;
    margin-top: 8px;
    padding-top: 5rem;
    padding-bottom: 4rem;
}
.word{
    padding-top: 1.5rem;
    gap:1.4em;
    width: 600px;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1em;
    word-spacing: 3px;
}
ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
    gap: 1rem;
    justify-content: center;
    margin-top: .5rem;
}
#medias{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 2rem;
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
}
#details{
    margin-top: 0.5rem;
    font-size: 1.4em;
}
#project{
    font-family: Arial, Helvetica, sans-serif;
font-size: 1.2em;
font-weight: bolder ;
color: rgb(0, 0, 0);
}
body{
    background-color: rgb(187, 181, 126);
}
main{
    background-color: rgb(216, 189, 189);
    padding-left: 5rem;
    padding-right: 5rem;
}
#projects{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 12px;
}
.summary{
    width: 250px;
    word-wrap: break-word;
    word-break: break-word;
    overflow-wrap: break-word;
    margin-top: 7px;
}
.buttons a{
   transition: 0.2s ease-in;
   padding-top: 0.6rem;
    padding-bottom:0.6rem;
    width: 200px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    text-decoration: none;
}
.actbuttons{
    display: flex;
    flex-direction:column ;
    gap: 0.5rem;
    margin-top: 1rem;
}

.gitlab a{
    background-color: black;
    color: white;
}
.gitlab a:hover{
    background-color: white;
    color: black;
    cursor: pointer;    
}
.vercel a:hover{
    color: white;
    background-color: black;
    cursor: pointer;
}
.vercel a{
    color: black;
    background-color: white;   
}
.boxlink{
   height: 200px;
   width: 300px;
   box-shadow: inset 0 0 10px rgba(105, 105, 160,0.6), 0 00 5px rgba(135, 135, 158, 0.4); 
   display: flex;
   flex-direction:column ;
   align-items: center;
   justify-content: center;
}
.logo{
    height:3rem;
    width: 3rem;
}
.logo:hover{
    cursor: pointer;
    height: 3.5rem;
    width: 3.5rem;
}